<%= form_with(model: task, local: true) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, value: task.name %>
  </div>
  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Task.statuses.keys.to_a %>
  </div>
  <div class="field">
    <%= form.label :completed %>
    <%= form.check_box :completed %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>