<%= form_for(@project_tasks) do |form| %>
  <% if @project_tasks.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_tasks.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% @project_tasks.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row align-items-center">
    <div class="col-10">
      <%= form.text_field :name, class: "form-control mr-2 sr-only-focusable", placeholder: "Start typing here to create a task...", required: true%>
    </div>

    <div class="col-2">
      <%= form.submit "Add Task", class: "btn btn-success my-2 sr-only-focusable"%>
    </div>

  </div>
<% end %>
