<div class="container" style="max-width: 400px;">
  <div class="card mb-4 mt-4  bg-light mx-auto" style="max-width: 400px;">
    <div class="row ml-2 mb-4 mt-4 text-info">
      <div class="col-auto mb-4 mt-4">

        <h2>Change your password</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>

          <div class="field">
            <%= f.label :password, "New password" %><br />
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em><br />
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, "Confirm new password" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="actions">
            <%= f.submit "Change my password", class: "btn btn-md btn-outline-info mt-3"%>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>


