<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-header">

    Project name: <%= @project.name %>

     <%= render 'projects/form_add_task' %>
  </div>

    <table class="table table-bordered mt-4">
      <tbody>
      <% @tasks.each do |task| %>
        <% if task.completed %>
          <tr class="table-secondary d-flex">
            <td class="col-1">Done</td>
            <td class="col-2 striker">Deadline <%= task.deadline %></td>
            <td class="col-6 striker"><%=  task.name %></td>
            <td class="col-3">
              <%= task.status %>
              <%= link_to 'Edit', edit_task_path(task), class: "btn btn-sm btn-outline-info" %>
              <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-danger" %>
            </td>
        <% else %>
          <tr class="d-flex">
            <td class="col-1"> In work </td>
            <td class="col-2">Deadline <%= task.deadline %></td>
            <td class="col-6"><%= task.name %></td>
            <td class="col-3">
              <%= task.status %>
              <%= link_to 'Edit', edit_task_path(task), class: "btn btn-sm btn-outline-info" %>
              <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-danger" %>
            </td>
        <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
    <br>


    <p><%= link_to 'Back', projects_path, class: "btn btn-sm btn-outline-info" %></p>

</div>